# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
main
OptimizedParallel/program
OptimizedParallel/matrix_A.bin
OptimizedParallel/matrix_B.bin
OptimizedParallel/matrix_C.bin
OptimizedParallel/translationMatrixBinary/generate_matrices
OptimizedParallel/translationMatrixBinary/ViewMatrices
OptimizedParallel/withoutIO/highlife-MPI-CUDA-exe
OptimizedParallel/withoutIO/matrix_multiply
OptimizedParallel/withIO/highlife-MPI-CUDA-exe
OptimizedParallel/withIO/matrix_a.dat
OptimizedParallel/withIO/result_matrix_c.dat
OptimizedParallel/withIO/viewmatrix
OptimizedParallel/withIO/matrix_b.dat
OptimizedParallel/withIO/matrix_c.dat
OptimizedParallel/withIO/result_matrix.dat
